/* Reset browser defaults */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer,
header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Style */
a {
  text-decoration: none;
  color: #0090ff;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  color: #666;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

footer, header, section {
  clear: both;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
}

footer > p, header > *, section > p {
  margin: 0 0.625vw;
}

footer {
  margin-top: 2em;
}

header {
  background-color: #fff;
}

header > h1 {
  font-size: 2em;
  font-weight: bold;
}

header > h2 {
  font-size: 1.25em;
  font-weight: normal;
}

section > h1 {
  border-bottom: 1px solid #999;
  font-size: 1.5em;
  font-weight: lighter;
  margin: 1.5em 0.625vw 0.75em 0.625vw;
  text-transform: uppercase;
}

div.page {
  min-width: 1024px;
}

div.tile {
  float: left;
  max-width: 320px;
  min-width: 160px;
  padding: 0.5em 0;
  width: 25vw;
}

div.tile img,
div.tile div {
  box-shadow: 0 0 2px rgba(0,0,0,.25);
  margin-left: 2.5%;
  width: 95%;
}

div.tile img {
  border-bottom: 0.2em solid #0090ff;
  display: block;
}

div.tile div {
  background-color: #fff;
}

div.tile h1 {
  border-top: ;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.25em 0.5em;
}

div.tile p {
  padding: 0.25em 0.5em;
}


#forkme_banner {
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  color: #fff;
  display: block;
  float: right;
  font-weight: 700;
  padding: 10px 50px 10px 10px;
  z-index: 10;
}
