/* Reset browser defaults */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer,
header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Media Queries */
@media only screen and (min-width: 0px) {
  body { font-size: 12px; /*background-color: green;*/ }
  footer { text-align: center; }
  section.packages > div { width: 100%; }
}

@media only screen and (min-width: 320px) {
  body { font-size: 13px; /*background-color: yellow;*/ }
  section.packages > div { width: 50%; }
}

@media only screen and (min-width: 640px) {
  body { font-size: 14px; /*background-color: orange;*/ }
  #copyright { float: left;  }
  #githubpages { float: right; }
  section.packages > div { width: 33.3333%; }
}

@media only screen and (min-width: 800px) {
  body { font-size: 15px; }
  section.text p { max-width: 66.6666%; }
}

@media only screen and (min-width: 960px) {
  body { font-size: 16px; /*background-color: red;*/ }
  section.packages > div { width: 25%; }
  section.text p { max-width: 75%; }
}

@media only screen and (min-width: 1024px) {
  body { font-size: 18px; }
}

@media only screen and (min-width: 1580px) {
  body { font-size: 20px; }
}


/* Style */
a {
  text-decoration: none;
  color: #0090ff;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover {
  color: #ff9a00;
}

body {
  box-sizing: border-box;
  color: #666;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

em {
  font-style: italic;
}

footer, header, section {
  clear: both;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
}

footer > p, header > *, section > p {
  margin: 0 0.5vw;
}

footer {
  font-size: 0.75em;
  margin-bottom: 1em;
}

header {
  background-color: #fff;
}

header > h1 {
  font-size: 2em;
  font-weight: bold;
}

header > h2 {
  font-size: 1.25em;
  font-weight: lighter;
}

section > h1 {
  border-bottom: 1px solid #999;
  font-size: 1.5em;
  font-weight: lighter;
  margin: 1.5em 0.5vw 0.75em 0.5vw;
  text-transform: uppercase;
}

section > p {
  padding-bottom: 1.5em;
}

strong {
  font-style: italic;
  font-weight: bold;
}


/* Header */
#forkme_banner {
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #fff;
  display: block;
  float: right;
  font-weight: 700;
  padding: 10px 50px 10px 10px;
  z-index: 10;
}

#forkme_banner:hover {
  background-color: #ff9a00;
}


/* Packages section */
section.packages > div {
  display: block;
  float: left;
  max-width: 320px;
  padding: 0.5em 0;
}

section.packages > div > div {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  height: 19em;
  margin: 0 0.5em;
}

section.packages > div h1 {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.25em 0.375em;
}

section.packages img {
  border-bottom: 0.2em solid #0090ff;
  display: block;
  width: 100%;
}

section.packages img:hover {
  border-color: #ff9a00;
}

section.packages p {
  padding: 0.25em 0.5em;
}
